:root {
    --main-red: #e6563b;
    --main-orange: #eb9d3a;
    --main-green: #7cb06c;
    --main-blue: #00aba9;
    --main-bg-light: #f0f0f0;
    --main-bg-accent: #e6e6e6;
    --main-font-thick: "Anton";
    --secondary-font-thin: "Abel";
}
body {
    background-color: var(--main-bg-accent);
}
.Anton-font {
    font-family: var(--main-font-thick), sans-serif;
}
.Abel-font {
    font-family: var(--secondary-font-thin), sans-serif;
}
.nav-img {
    height: 105px;
    width: 105px;
}

.main-header {
    font-size: 4em;
}

.sec-header {
    font-size: 2em;
}

.circle {
    border: .5em solid #fff;

    height: 100px;
    border-radius: 50%;
    width: 100px;

}

.typeR {
    background-color: var(--main-red);
}
.typeO {
    background-color: var(--main-orange);
}
.typeG {
    background-color: var(--main-green);
}
.typeB {
    background-color: var(--main-blue);
}