:root {
  --main-red: #e6563b;
  --main-orange: #eb9d3a;
  --main-green: #7cb06c;
  --main-blue: #00aba9;
  --main-bg-light: #f0f0f0;
  --main-bg-accent: #e6e6e6;
  --main-font-thick: "Anton";
  --secondary-font-thin: "Abel";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-light);
}

.Anton-font {
  font-family: var(--main-font-thick), sans-serif;
}

.Abel-font {
  font-family: var(--secondary-font-thin), sans-serif;
}

.color-R {
  background-color: var(--main-red);
}
.color-O {
  background-color: var(--main-orange);
}
.color-G {
  background-color: var(--main-green);
}
.color-B {
  background-color: var(--main-blue);
}

/* ******************************** Navbar ****************************** */

.nav-img {
  height: 50px;
  width: 50px;
}

/* ***************************** Top Container *************************** */

.main-header {
  font-size: 3.2em;
  font-weight: bold;
}

.sec-header {
  font-size: 2.3em;
  margin: 1em 0;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1em 0;
  border: 0.5em solid #fff;
  color: #fff;
  font-family: var(--main-font-thick), sans-serif;
}

.custom-hr {
  border-bottom: solid rgb(92, 92, 92) 0.5px;
  width: 100%;
  margin-bottom: 3em;
}

/* ***************************** Bottom Container *************************** */
/* ************************* Card *********************** */
.card-image {
  border: solid var(--main-bg-accent) 0.5em;
  width: 100%;
  height: 80%;
}

.card-body {
  width: 100%;
  height: 50px;
  padding-top: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 0.25em;
  color: #000;
  font-family: var(--main-font-thick), sans-serif;
  font-size: 0.75em;
}
/* ************************* Sidebar *********************** */
.sidebar-row {
  padding-bottom: 2.5em;
}
.thumbnail-img {
  max-width: 77px;
  height: 77px;
  /* margin-bottom: 1.5em; */
  border: solid var(--main-bg-accent) 0.25em;
}

.thumbnail-text {
  font-size: 1.4em;
}

.sideBar-tweet {
  font-family: "Arial", sans-serif;
  line-height: 1.2em;
}
